* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ecf0f3;
}

ul {
  list-style: none;
}

.header {
  margin: 1rem 2rem;
  height: 5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.header .header-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: -8px -8px 12px #fff, 5px 5px 10px #ceced1;
}

.header img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.header .logo {
  font-family: "Pacifico";
  font-size: 1.8rem;
  text-shadow: 0 -6px 3px #fff;
}

.header .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.3rem;
  text-decoration: none;
  color: #31344b;
  box-shadow: -8px -8px 12px #fff, 5px 5px 10px #ceced1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  height: 100%;
  width: 100%;
}

.section {
  width: 100%;
}

.section.first {
  display: grid;
  grid-template-columns: 18rem 1fr;
  gap: 1rem;
}

/* ======= Profile Section ======= */

.profile,
.contact .to-profile,
.profile .icon,
.profile .image-area,
.profile .social-area li a,
.profile .buttons-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.profile .icon,
.contact .to-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  cursor: pointer;
}

.profile .icon.call {
  left: 15px;
}

.profile .icon.message,
.contact .to-profile {
  right: 15px;
}

.profile {
  padding: 1.5rem;
  border-radius: 10px;
  flex-direction: column;
  background: #ecf0f3;
  position: relative;
}

.profile .image-area {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile .inner-area {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  border-radius: 50%;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile .name {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.75rem 0 0.25rem;
  color: #31344b;
}

.profile .about {
  font-size: 0.95rem;
  font-weight: 500;
  color: #44476a;
}

.profile .social-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.profile .social-area li a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 0 -3px 0 #fff;
  position: relative;
}

.profile .social-area li a.facebook {
  color: #4267b2;
}

.profile .social-area li a.twitter {
  color: #1da1f2;
}

.profile .social-area li a.github {
  color: #333;
}

.profile .social-area li a.linkedin {
  color: #2867b2;
}

.profile .icon:hover::before,
.contact .to-profile:hover::before,
.profile .social-area li a:hover::before,
.profile .buttons-area a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
  border-radius: 50%;
}

.profile .buttons-area {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.profile .buttons-area a {
  position: relative;
  text-decoration: none;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 25px;
  color: #31344b;
  font-weight: 500;
  text-shadow: 0 -3px 0 #fff;
}

.profile .buttons-area a:hover::before {
  border-radius: 25px;
}

.stats-area {
  margin-top: 1.5rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.stats-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ceced1;
  box-shadow: -1px -1px 2px #fff, 1px 1px 3px #ceced1;
}

.stats-area .row {
  color: #31344b;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 50%;
  font-weight: 500;
  position: relative;
}

.stats-area .row::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 50%;
  background: #ceced1;
  box-shadow: -1px -1px 2px #fff, 1px 1px 3px #ceced1;
}

.stats-area .row:first-child:before {
  display: none;
}

.stats-area .row i,
.stats-area .row span {
  text-shadow: 0 -3px 0 #fff;
}

.stats-area .row i {
  font-size: 1.1rem;
  margin-right: 0.25rem;
}

.stats-area .row:first-child i {
  color: #4267b2;
}

.stats-area .row:nth-child(2) i {
  color: #ff0000;
}

.stats-area .row:last-child i {
  color: #2867b2;
}

/* ====== Works Section ======= */

.works {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  position: relative;
}

.works::before {
  content: "";
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.works .skills {
  width: 100%;
  padding: 1rem 1rem 0;
  border-radius: 10px;
  /* box-shadow: 3px 3px 7px #fff, -3px -3px 5px #ceced1; */
}

.works .skills header,
.works .services header {
  font-family: "Pacifico";
  font-size: 1.3rem;
  font-weight: 600;
  color: #31344b;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-shadow: 0 -3px 0 #fff, 0 3px 0 rgb(94 104 121 / 28%);
  text-align: center;
}

.works .skills .skills-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.works .skills .skill {
  width: 45%;
  margin-bottom: 1rem;
}

.works .skill .title {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  color: #31344b;
  margin-bottom: 0.75rem;
  text-shadow: 0 -3px 0 #fff;
}

.wrapper-skills .title i {
  font-size: 1.2rem;
}

.skills .skill.html .title {
  color: #e44d26;
}
.skills .skill.css .title {
  color: #264de4;
}
.skills .skill.js .title {
  color: #e91e63;
}
.skills .skill.tailwind .title {
  color: #1da7bb;
}
.skills .skill.react .title {
  color: #0fddff;
}

.works .skill .progress {
  position: relative;
  width: 100%;
  height: 10px;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
  border-radius: 25px;
}

.works .skill .progress .level {
  position: absolute;
  left: 0;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
  background: #ceced1;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.works .skill.html .progress .level {
  background: #e44d26;
}

.works .skill.css .progress .level {
  background: #264de4;
}

.works .skill.js .progress .level {
  background: #e91e63;
}

.works .skill.tailwind .progress .level {
  background: #1da7bb;
}

.works .skill.react .progress .level {
  background: #0fddff;
}

.works .skill .progress .level::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 4px;
  width: 8px;
  height: 8px;
  background: #ecf0f3;
  transform: rotate(45deg);
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.works .skill .progress .level::after {
  content: attr(data-level);
  position: absolute;
  top: -32px;
  right: 0;
  padding: 0.25rem;
  background: #ecf0f3;
  color: #31344b;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.works .services {
  width: 100%;
  padding: 0 1rem 1rem;
  border-radius: 10px;
  /* box-shadow: 3px 3px 7px #fff, -3px -3px 5px #ceced1; */
}

.works .services .services-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.services .service {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1099px) {
  .services .service {
    width: calc(50% - 0.5rem);
  }
}

.services .service .icon {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-shadow: 0 -1px 0 #fff;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgb(94 104 121 / 28%);
}

.services .service .icon::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px rgb(94 104 121 / 28%);
}

.services .service .text {
  color: #31344b;
  font-weight: 500;
  font-size: 0.95rem;
}

/* ======= Contact Section ====== */

.contact {
  position: absolute;
  background: #ecf0f3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.contact .to-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  text-decoration: none;
  cursor: pointer;
}

.contact header {
  font-family: "Pacifico";
  font-size: 1.3rem;
  font-weight: 600;
  color: #31344b;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-shadow: 0 -3px 0 #fff, 0 3px 0 rgb(94 104 121 / 28%);
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.contact .field {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: inset -3px -3px 8px #fff, inset 2px 2px 5px #ceced1;
  transition: all 0.3s ease-out;
}

.contact .field input,
.contact .field textarea {
  border: none;
  outline: none;
  background: #ecf0f3;
  color: #44476a;
  font-size: 0.95rem;
  max-width: 100%;
}

.contact .field input {
  height: 1.75rem;
}

.contact .field i {
  color: #44476a;
}

.contact textarea {
  padding: 0.5rem 0 0.5rem 1.5rem;
  height: 10rem;
  resize: none;
}

.contact textarea ~ i {
  position: absolute;
  top: 1rem;
}

.contact .field:focus-within {
  box-shadow: inset -1px -1px 2px #fff, inset 1px 1px 3px #ceced1;
}

.contact input[type="submit"] {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #44476a;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  text-shadow: 0 -3px 0 #fff;
  box-shadow: -3px -3px 8px #fff, 2px 2px 5px #ceced1;
  transition: all 0.3s ease-out;
}

.contact input[type="submit"]:hover {
  box-shadow: inset -3px -3px 8px #fff, inset 2px 2px 5px #ceced1;
  color: #1da1f2;
}

.section.second {
  display: grid;
  grid-template-columns: 1fr 18rem;
  gap: 1rem;
}

.second .projects {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.second .projects header {
  font-family: "Pacifico";
  font-size: 1.3rem;
  font-weight: 600;
  color: #31344b;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-shadow: 0 -3px 0 #fff, 0 3px 0 rgb(94 104 121 / 28%);
  text-align: center;
}

.second .projects .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.second .project {
  width: 30%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.second .project .project-image {
  width: 100%;
  padding: 1rem 1rem 0;
}

.second .project img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 6px #fff);
  object-fit: cover;
}

.second .project .project-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.second .project .name {
  font-size: 0.95rem;
  font-weight: 500;
  color: #31344b;
}

.second .project-text .links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.second .project-text a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 0.9rem;
  color: #a6a6a6;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  text-decoration: none;
}

.second .project-text a::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgb(94 104 121 / 28.8%);
}

.second .project-text .links a:first-child {
  color: #264de4;
}

.second .project-text .links a:nth-child(2) {
  color: #e1306c;
}

.second .project-text .links a:last-child {
  color: #1da7bb;
}

.second .project-text .likes {
  font-size: 0.95rem;
  font-weight: 500;
  color: #44476a;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-shadow: 0 -3px 0 #fff;
}

.second .project-text .likes i {
  color: #e44d26;
  text-shadow: 0 -3px 0 #fff;
}

.second .side-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.second .clock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  z-index: 1;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgb(94 104 121 / 28.8%);
}

.second .clock::before {
  content: "";
  position: absolute;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #fff,
    inset 3px 3px 5px rgb(94 104 121 / 28.8%);
}

.second .clock::after {
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  box-shadow: -1px -1px 5px #fff, 1px 1px 3px rgb(94 104 121 / 28.8%);
}

.clock .center-nut {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #31344b;
}

.clock .center-nut2 {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #1da1f2;
  z-index: 10;
}

.clock .indicators div {
  position: absolute;
  background: #31344b;
  width: 2px;
  height: 5px;
}

.indicators div:nth-child(1) {
  transform: rotate(30deg) translateY(-100px);
}
.indicators div:nth-child(2) {
  transform: rotate(60deg) translateY(-100px);
}
.indicators div:nth-child(3) {
  background: #1da1f2;
  transform: rotate(90deg) translateY(-100px);
}
.indicators div:nth-child(4) {
  transform: rotate(120deg) translateY(-100px);
}
.indicators div:nth-child(5) {
  transform: rotate(150deg) translateY(-100px);
}
.indicators div:nth-child(6) {
  background: #1da1f2;
  transform: rotate(180deg) translateY(-100px);
}
.indicators div:nth-child(7) {
  transform: rotate(210deg) translateY(-100px);
}
.indicators div:nth-child(8) {
  transform: rotate(240deg) translateY(-100px);
}
.indicators div:nth-child(9) {
  background: #1da1f2;
  transform: rotate(270deg) translateY(-100px);
}
.indicators div:nth-child(10) {
  transform: rotate(300deg) translateY(-100px);
}
.indicators div:nth-child(11) {
  transform: rotate(330deg) translateY(-100px);
}
.indicators div:nth-child(12) {
  background: #1da1f2;
  transform: rotate(360deg) translateY(-100px);
}

.sec-hand,
.min-hand,
.hr-hand {
  position: absolute;
  display: flex;
  justify-content: center;
}

.sec-hand {
  width: 11rem;
  height: 11rem;
  z-index: 6;
}

.min-hand {
  width: 9rem;
  height: 9rem;
  z-index: 5;
}

.hr-hand {
  width: 7rem;
  height: 7rem;
  z-index: 4;
}

.sec-hand::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 105px;
  background: #1da1f2;
}

.sec-hand::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 35px;
  border-radius: 10px;
  background: #1da1f2;
  top: 105px;
}

.min-hand::before {
  content: "";
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 60px solid #e44d26;
  top: -15px;
}

.min-hand::after {
  content: "";
  position: absolute;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 30px solid #e44d26;
  top: 45px;
}

.hr-hand::before {
  content: "";
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 35px solid #333;
}

.hr-hand::after {
  content: "";
  position: absolute;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 20px solid #333;
  top: 35px;
}

.second .side-content p {
  margin: 1rem 0 2rem;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
  text-shadow: 0 -3px 0 #fff, 0 3px 0 #fff;
}

.second .social .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.second .social .icons a {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-decoration: none;
  color: #a6a6a6;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgb(94 104 121 / 28.8%);
}

.second .social .icons a.clicked::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgb(94 104 121 / 28.8%);
}

.second .social .first li:nth-child(1) a.clicked {
  color: #4267b2;
}
.second .social .first li:nth-child(2) a.clicked {
  color: #1da1f2;
}
.second .social .first li:nth-child(3) a.clicked {
  color: #e1306c;
}
.second .social .second li:nth-child(1) a.clicked {
  color: #2867b2;
}
.second .social .second li:nth-child(2) a.clicked {
  color: #333;
}
.second .social .second li:nth-child(3) a.clicked {
  color: #ff0000;
}

footer {
  width: 100%;
}

footer p {
  width: fit-content;
  color: #31344b;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: auto;
}



@media (max-width: 991px) {

  .projects .project {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .header .header-image {
    display: none;
  }

  .header .icons a {
    width: 2rem;
    height: 2rem;
  }

  .section.first {
    grid-template-columns: 1fr;
  }

  .skills .skills-content {
    flex-direction: column;
  }

  .skills .skills-content .skill {
    width: 100%;
  }

  .section.second {
    grid-template-columns: 1fr;
  }

  .second .projects .project {
    width: 100%;
  }
}

@media(max-width: 570px) {
  .services .services-content {
    flex-direction: column;
  }

  .services .services-content .service {
    width: 100%;
  }
}
